<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <b><a class="navbar-brand" href="{% url 'index' %}">Currency</a></b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="{% url 'currency:rate-list' %}">Rates <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="{% url 'currency:message-list' %}">Contact us</a>
      <a class="nav-link" href="{% url 'currency:source-list' %}">Source List</a>
    {% if request.user.is_authenticated %}
        <b><a class="nav-link" >Hello, {{ request.user.email }}!</a></b>
        <a class="nav-link" href="{% url 'account:profile' %}">Profile</a>
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="nav-link" href="{% url 'account:signup' %}">Sign Up</a>
        <a class="nav-link" href="{% url 'login' %}">Login</a>
    {% endif %}
    </div>
  </div>
</nav>
