django==4.2.7
django-extensions
ipython
django-debug-toolbar
django-admin-rangefilter
django-import-export
django-storages
django-crispy-forms
Celery
django-filter
requests

#flake8
flake8
flake8-builtins
flake8-print
flake8-breakpoint