{% extends 'base.html' %}

{% block title %}
    Contact us
{% endblock title %}

{% block content %}

<p>
    <a href="/contact/create/">Create</a>
</p>

<table>
  <tr>
    <th>id:</th>
    <th>Email from:</th>
    <th>Subject:</th>
    <th>Message:</th>
  </tr>
  {% for contact in contacts %}
  <tr>
    <td>{{ contact.id }}</td>
    <td>{{ contact.email_from }}</td>
    <td>{{ contact.subject }}</td>
    <td>{{ contact.message }}</td>
    <td><a href="/contact/update/{{ contact.id }}/">Edit</a></td>
    <td><a href="/contact/delete/{{ contact.id }}/">Delete</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}