{% extends 'base.html' %}
{#{% load crispy_forms_filters %}#}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Update Source{% endblock title %}

{% block content %}

    <h4>Update Source Form</h4>

    <img style="height: 100px; width: 100px" src="{{ source.logo_url }}" alt="logo">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

{% endblock content %}
